:root{
    --primary-magenta:hsl(300, 43%, 22%);
    --primary-softpink:hsl(333, 80%, 67%);
    --neutral-magenta: hsl(303, 10%, 53%);
    --neutral-graymagenta: hsl(300, 24%, 96%);
    --neutral-white: hsl(0, 0%, 100%);
    --font-size: 15px;
}

html,body{
    height: 100vh;
    width: 100vw;
    margin:0;
    display:flex;
   justify-content: space-around;
   align-items: center;
   font-family: 'League Spartan', sans-serif;
   line-height: 21px;
  }

 *,*::before,*::after{
    box-sizing: border-box;
 }

 main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;  
   row-gap:80px;
  background-image: url("images/bg-pattern-top-desktop.svg"),url("images/bg-pattern-bottom-desktop.svg");
  width: 100vw;
  height: 90vh;
  margin:0px 80px;
  }

 .companystatedreviewsection{
    grid-area:1/1/2/2;
    display: flex;
    justify-content: space-around;
 }

 
 .companytextdeclaration h1{
    color: var(--primary-magenta);
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 0;
 }

 .companytextdeclaration p{
    color: var(--neutral-magenta);
 }

 .mediaratings{
    align-self:center;
 }

 .individualmediarating{
    width:auto;
    height: fit-content;
    background-color:var(--neutral-graymagenta) ;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
}

#reviewsarticle{
 margin: 10px 50px 10px 10px;
}
 
#reportguru{
    margin:10px 30px 10px 40px;
}

#besttech{
    margin:10px 10px 10px 60px;
}

 .specificmediaoutlet{
    display: inline;
    color: var(--primary-magenta);
    padding-left: 10px;
    font-weight: 700;
 }

 .userprovidedreviews{
    grid-area: 2/1/3/2;
    display: flex;
    justify-content: space-evenly;
    gap:40px;
    color: var(--neutral-white);
  }

  .userreviewcontainer{
    width: 360px;
    height: fit-content;
    background-color:var(--primary-magenta);
    border-radius: 5px;
    padding:20px 20px 15px;
  }

  .userdata{
    display: flex;
    align-items: center;
    margin: 10px 20px;
   }
   
 
  .userimage img{
   width:40%;
   border-radius: 50%;
  }

  #annesreview{
    margin:60px 0px 10px 0px;
  }

  #irenereview{
 margin: 40px 0px 20px 0px;
  }

  #coltonreview{
  margin: 20px 0px 30px 0px;
  }

  .userdata p{
    font-size: 12px;
    margin-left: -30px;
    line-height:8px;
  }

  .userdata p:nth-last-child(1){
    color: var(--primary-softpink);
  }

  .reviewessay{
    margin-bottom: 0px;
  }


  @media screen and (width<376px){
    body{
        width: 100vw;
        height: auto;
        text-align: center;
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 60px;
    }

    .companystatedreviewsection{
        grid-area:1/1/2/2;
    }

  .companystatedreviewsection,
  .userprovidedreviews{
    display: flex;
    flex-direction: column;
  }

  .specificmediaoutlet{
    display: block;
    margin: 0;
  }

  .userprovidedreviews{
    grid-area: 2/1/3/2;
    gap: 5px;
    text-align: left;

    }

    #coltonreview,
    #irenereview,
    #annesreview,
    #reviewsarticle,
    #besttech,
    #reportguru{
        margin: 10px;
    }

    .userreviewcontainer,
    .individualmediarating{
        width: 340px;
        margin:0px 10px;
    }

   
  }




